<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<script>try{if(localStorage.getItem('relay-theme')==='light')document.documentElement.setAttribute('data-theme','light')}catch(e){}</script>
<head>{{ partial "head.html" . }}</head>
<body>
{{ partial "nav.html" . }}
<main>{{ block "main" . }}{{ end }}</main>
{{ partial "footer.html" . }}
<div class="toast-container" id="toastContainer"></div>
{{- $mainJS := resources.Get "js/main.js" | minify | fingerprint -}}
<script src="{{ $mainJS.RelPermalink }}" integrity="{{ $mainJS.Data.Integrity }}"></script>
{{ block "page-scripts" . }}{{ end }}
</body>
</html>
