<section class="pricing-teaser" id="pricing">
  <div class="section-inner">
    <div class="section-label">{{ i18n "pricing_label" }}</div>
    <h2 class="section-title">{{ i18n "pricing_title" }}</h2>
    <p class="section-sub">{{ i18n "pricing_sub" }}</p>

    <div class="pricing-pwyw">
      <div class="pricing-card pricing-card--pwyw">
        <div class="pwyw-price-block">
          <span class="pwyw-from">{{ i18n "pricing_from" }}</span>
          <span class="pwyw-amount">{{ i18n "pricing_amount" }}</span>
        </div>
        <div class="pwyw-tagline">{{ i18n "pricing_tagline" }}</div>
        <a href="{{ relLangURL "/pricing/" }}" class="btn btn--primary btn--full btn--lg">{{ i18n "pricing_cta" }}</a>
        <div class="pricing-divider"></div>
        <div class="pricing-feat-title">{{ i18n "pricing_feat_title" }}</div>
        <ul class="pricing-features pricing-features--full pricing-features--two-col">
          <li class="pf-yes">{{ i18n "pricing_pf_1" }}</li>
          <li class="pf-yes">{{ i18n "pricing_pf_2" }}</li>
          <li class="pf-yes">{{ i18n "pricing_pf_3" }}</li>
          <li class="pf-yes">{{ i18n "pricing_pf_4" }}</li>
          <li class="pf-yes">{{ i18n "pricing_pf_5" }}</li>
          <li class="pf-yes">{{ i18n "pricing_pf_6" }}</li>
          <li class="pf-yes">{{ i18n "pricing_pf_7" }}</li>
          <li class="pf-yes">{{ i18n "pricing_pf_8" }}</li>
        </ul>
      </div>
    </div>

    <p class="pricing-note">{{ i18n "pricing_note" }}</p>
  </div>
</section>
